{
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
        },
    },
    "globals": {
        "mParticle": true,
        "describe": true,
        "Should": true,
        "MockHttpServer": true,
        "it": true,
        "sinon": true,
        "const": true,
        "before": true,
        "beforeEach": true,
        "afterEach": true,
        "after": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": [
            "error",
            4,
            { "SwitchCase": 1}
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-unneeded-ternary": [
            "error",
            { "defaultAssignment": false }
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "curly": [
            "error",
            "multi-line"
        ],
        "comma-spacing": [
            "error",
            { "before": false, "after": true }
        ],
        "for-direction": "error",
        "quote-props": [
            "error",
            "as-needed",
            { "keywords": false, "unnecessary": true, "numbers": false }
        ],
        "no-useless-escape": "off",
        "no-prototype-builtins": "off",
        "no-multi-spaces": ["error", {"ignoreEOLComments": true}],
        "no-implicit-globals": "error",
    }
}