.DS_Store
node_modules/
.vscode/
test-bundle.js
out/
build/
test/reports
test/cross-browser-testing/reports
test/test-bundle.js.map
test/stub/test-stub-bundle.js
**/dist
!kits/rokt/dist/
!kits/rokt/dist/Rokt-Kit.common.js
!kits/rokt/dist/Rokt-Kit.common.js.map
!kits/rokt/dist/Rokt-Kit.d.ts
!kits/rokt/dist/Rokt-Kit.esm.js
!kits/rokt/dist/Rokt-Kit.esm.js.map
!kits/rokt/dist/Rokt-Kit.iife.js
!kits/rokt/dist/Rokt-Kit.iife.js.map
test/integrations/requirejs/test-requirejs-bundle.js
browserstack.err
local.log
test/cross-browser-testing/CBT-tests-es5.js
test/cross-browser-testing/CBT-tests.js
coverage/
kits/**/test/test-bundle.js
.agents/
.claude/worktrees/
