node_modules/
.vscode/
out/
coverage/
**/dist
snippet.min.js
snippet.rokt.min.js
test/lib
test/reports
test/cross-browser-testing/reports
test/test-bundle.js
test/test-bundle.js.map
test/stub/test-stub-bundle.js
test/integrations
*.min.js
package-lock.json
CHANGELOG.md
