{
    "branches": ["master"],
    "repositoryUrl": "https://github.com/rmi22186/rob-changelog-release-test",
    "tagFormat": "v${version}",
    "plugins": [
        ["@semantic-release/commit-analyzer", {
            "preset": "conventional-changelog-conventionalcommits",
        }],
        ["@semantic-release/release-notes-generator", {
            "repository": "custom-repo",
            "owner": "custom-owner"
        }],
        ["@semantic-release/changelog", {"changelogFile": "CHANGELOG.md"}],
        ["@semantic-release/github", {
            "assets": "abc.js"
        }],
        ["@semantic-release/npm", {
            "npmPublish": false
        }],
        ["@semantic-release/git", {
            "assets": ["package.json", "CHANGELOG.md"],
            "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ],
    "ci": false,
    "dryRun": false,
}