name: "Android Bridge Tests"
on: push
jobs:
    test:
        timeout-minutes: 15
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout internal"
              uses: actions/checkout@v3

            - name: "Clone Android Repo"
              uses: actions/checkout@v3
              with:
                repository: mParticle/mparticle-android-sdk
                ref: main
                path: mparticle-android-sdk
            - name: "Install JDK 17"
              uses: actions/setup-java@v3
              with:
                distribution: "zulu"
                java-version: "17"    
            - name: "Build Files"
              run: |
                npm ci
                npm run build:iife
            - name: "Run Instrumented Tests"
              uses: reactivecircus/android-emulator-runner@v2.32.0
              with:
                working-directory: mparticle-android-sdk
                api-level: 29
                arch: x86_64
                force-avd-creation: true
                script: ./gradlew :android-core:cAT -Pandroid.testInstrumentationRunnerArguments.class=com.mparticle.internal.MParticleJSInterfaceITest -Pjs-sdk-file=../dist/mparticle.js
            - name: "Archive Test Results"
              if: ${{ always() }}
              uses: actions/upload-artifact@v4
              with:
                  name: test-results
                  path: mparticle-android-sdk/android-core/build/reports/androidTests/connected/**