# This Github Workflow builds v2 of the mParticle Web SDK, lints with ESLint and Prettier to find errors, and runs all tests
# If the PR is from dependabot, it automatically gets merged if tests run properly.

name: Web SDK Build & Test

on: pull_request

jobs:
    build-bundle:
        name: Build Distribution Bundle
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Lint with ESLint
              run: npm run lint

            - name: Lint with Prettier
              run: npm run prettier

            - name: Run Build IIFE
              run: npm run build:iife

            - name: Display Bundle Diff, but Fancy!
              run: git diff --unified=3 dist/mparticle.js | npx diff-so-fancy

            - name: Archive Bundle
              uses: actions/upload-artifact@v3
              with:
                  name: bundle-local
                  path: dist

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    # Only Core test requires bundle, but we want to make sure
    # that tests only run when the bundle is successfully built
    test-core:
        name: Test Core
        runs-on: ubuntu-latest
        needs: build-bundle
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Build Files
              run: npm run build:iife

            - name: Install Firefox Latest
              uses: browser-actions/setup-firefox@latest

            - name: Log Firefox Version
              run: firefox --version

            - name: Run Core tests
              run: npm run test

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    test-jest:
        name: 'Test Jest'
        runs-on: 'ubuntu-latest'
        strategy:
            matrix:
                node-version: [16.x, 17.x, 18.x, 19.x, 20.x]
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Run NPM CI
              run: npm ci

            - name: Run Jest Tests
              run: npm run test:jest

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    test-stub:
        name: 'Test Stub'
        runs-on: ubuntu-latest
        needs: build-bundle
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Install Firefox Latest
              uses: browser-actions/setup-firefox@latest

            - name: Log Firefox Version
              run: firefox --version

            - name: Run Stub Tests
              run: npm run test:stub

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    test-integrations-require-js:
        name: 'Integration Tests: Require JS'
        runs-on: ubuntu-latest
        needs: build-bundle
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Install Firefox Latest
              uses: browser-actions/setup-firefox@latest

            - name: Log Firefox Version
              run: firefox --version

            - name: Run Require JS Tests
              run: npm run test:requirejs

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    test-integrations-common-js-browserfy:
        name: 'Integration Tests: Common JS - Browserfy'
        runs-on: ubuntu-latest
        needs: build-bundle
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Build Files
              run: npm run build:npm

            - name: Build Test Bundle
              run: npm run build:test-bundle

            - name: Install Firefox Latest
              uses: browser-actions/setup-firefox@latest

            - name: Log Firefox Version
              run: firefox --version

            - name: Run Common JS Browserfy Tests
              run: npm run test:integrations:cjs:browserfy

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    test-integrations-common-js-webpack:
        name: 'Integration Tests: Common JS - webpack'
        runs-on: ubuntu-latest
        needs: build-bundle
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Build Files
              run: npm run build:npm

            - name: Build Test Bundle
              run: npm run build:test-bundle

            - name: Install Firefox Latest
              uses: browser-actions/setup-firefox@latest

            - name: Log Firefox Version
              run: firefox --version

            - name: Run Common JS webpack Tests
              run: npm run test:integrations:cjs:webpack

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    test-integrations-common-js-rollup:
        name: 'Integration Tests: Common JS - Rollup'
        runs-on: ubuntu-latest
        needs: build-bundle
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Build Files
              run: npm run build:npm

            - name: Build Test Bundle
              run: npm run build:test-bundle

            - name: Install Firefox Latest
              uses: browser-actions/setup-firefox@latest

            - name: Log Firefox Version
              run: firefox --version

            - name: Run Common JS Rollup Tests
              run: npm run test:integrations:cjs:rollup

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    test-integrations-module-js:
        name: 'Integration Tests: Module JS'
        runs-on: ubuntu-latest
        needs: build-bundle
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Build Files
              run: npm run build:esm

            - name: Build Test Bundle
              run: npm run build:test-bundle

            - name: Install Firefox Latest
              uses: browser-actions/setup-firefox@latest

            - name: Log Firefox Version
              run: firefox --version

            - name: Run Module JS Tests
              run: npm run test:integrations:module

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    build-local:
        name: Get Bundle Size from Current Branch
        runs-on: ubuntu-latest
        needs: build-bundle

        outputs:
            bundledLocal: ${{ steps.set-bundled-local.outputs.bundledLocal }}
            bundledLocalHuman: ${{ steps.set-bundled-local.outputs.bundledLocalHuman }}

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Run NPM CI
              run: npm ci

            - name: Download Local Bundle
              uses: actions/download-artifact@v3
              with:
                  name: bundle-local

            - name: Compress Bundle
              run: npm run bundle

            - name: Report Bundle Size
              run: |
                  BUNDLED_LOCAL=$(ls -l dist/mparticle.min.js.gz | awk '{print $5}')
                  echo "BUNDLED_LOCAL=$BUNDLED_LOCAL" >> $GITHUB_ENV
                  BUNDLED_LOCAL_HUMAN=$(ls -lh dist/mparticle.min.js.gz | awk '{print $5}')
                  echo "BUNDLED_LOCAL_HUMAN=$BUNDLED_LOCAL_HUMAN" >> $GITHUB_ENV

            - name: Set Local Bundled Size
              id: set-bundled-local
              run: |
                  echo "::set-output name=bundledLocal::${{ env.BUNDLED_LOCAL }}"
                  echo "::set-output name=bundledLocalHuman::${{ env.BUNDLED_LOCAL_HUMAN }}"

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    build-master:
        name: Get Bundle Size from Master
        runs-on: ubuntu-latest
        needs: build-bundle

        outputs:
            bundledMaster: ${{ steps.set-bundled-master.outputs.bundledMaster }}
            bundledMasterHuman: ${{ steps.set-bundled-master.outputs.bundledMasterHuman }}

        steps:
            - name: Checkout Master
              uses: actions/checkout@v3
              with:
                  ref: master

            - name: NPM install
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Compress Bundle
              run: npm run bundle

            - name: Report Bundle Size
              run: |
                  BUNDLED_MASTER=$(ls -l dist/mparticle.min.js.gz | awk '{print $5}')
                  echo "BUNDLED_MASTER=$BUNDLED_MASTER" >> $GITHUB_ENV
                  BUNDLED_MASTER_HUMAN=$(ls -lh dist/mparticle.min.js.gz | awk '{print $5}')
                  echo "BUNDLED_MASTER_HUMAN=$BUNDLED_MASTER_HUMAN" >> $GITHUB_ENV

            - name: Set Master Bundled Size
              id: set-bundled-master
              run: |
                  echo "::set-output name=bundledMaster::${{ env.BUNDLED_MASTER }}"
                  echo "::set-output name=bundledMasterHuman::${{ env.BUNDLED_MASTER_HUMAN }}"

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v3
              if: failure()
              with:
                  name: npm-logs
                  path: ~/.npm/_logs

    calculate-bundled:
        name: Calculate Bundled Diff
        uses: ./.github/workflows/calculate-difference.yml
        needs:
            - build-master
            - build-local
        with:
            initial_bundle_size: ${{ needs.build-master.outputs.bundledMaster }}
            updated_bundle_size: ${{ needs.build-local.outputs.bundledLocal }}

    generate-report:
        name: Generate Report
        runs-on: ubuntu-latest
        needs:
            - build-master
            - build-local
            - calculate-bundled
        steps:
            - name: Adding Markdown
              run: |
                  echo '### Calculate Bundle Size Difference' >> $GITHUB_STEP_SUMMARY
                  echo "|  | master | current | % changed |" >> $GITHUB_STEP_SUMMARY
                  echo "|--|--|--|--|" >> $GITHUB_STEP_SUMMARY
                  echo "| mparticle.min.js.gz | ${{ needs.build-master.outputs.bundledMasterHuman }} | ${{ needs.build-local.outputs.bundledLocalHuman }} | ${{ needs.calculate-bundled.outputs.diff_percent }} |" >> $GITHUB_STEP_SUMMARY

    automerge-dependabot:
        name: 'Save PR Number for Dependabot Automerge'
        needs:
            - test-core
            - test-stub
            - test-integrations-common-js-browserfy
            - test-integrations-common-js-webpack
            - test-integrations-common-js-rollup
            - test-integrations-module-js
            - test-integrations-require-js
        uses: mParticle/mparticle-workflows/.github/workflows/dependabot-save-pr-number.yml@main
